body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}
.header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  max-height: 100px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header .header-site {
  max-width: 310px;
  max-height: 80px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.header .header-site .header-logo {
  width: 40px;
  height: 45px;
}
.header .header-site h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.25em;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header .header-site h3 span {
  color: #a10000;
}

.header .nav-link {
  margin-right: 70px;
}
.header .nav-link ul {
  color: white;
  list-style-type: none;
  display: flex;
}
.header .nav-link ul li {
  margin-right: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container {
  width: 100%;
  height: 750px;
  background-size: cover;
}
.container .overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0.98) 75%
  );
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .overlay .movie-info {
  position: absolute;
  top: 150px;
  color: white;
  font-family: poppins;
  left: 100px;
  min-height: 500px;
  max-width: 600px;
}
.container .overlay .movie-info h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  margin-bottom: 50px;
}
.container .overlay .movie-info p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 50px;
}
.button {
  width: 170px;
  height: 50px;
  background: linear-gradient(180deg, #e10000 0%, #a10000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.button-slider {
  width: 170px;
  height: 50px;
  right: 50px;
  top: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.button-slider span {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.button span {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}
.container .overlay .movie-card-wrap {
  margin-right: 150px;
  width: 350px;
  height: 550px;
  margin-top: 100px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
  border-radius: 25px;
  background-size: cover;
}
.container .overlay .movie-card-wrap-responsive {
  display: none;
}
.slider-container {
  background-color: transparent;
  margin: 100px;
  margin-top: 80px;
  max-width: 1300px;
}
.slider-container .title-container {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-container .title-container h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}
.slider-box {
  height: 300px;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}
.slider-box .poster-container {
  display: flex;
}
.slider-box .poster-container .poster-box {
  width: 190px;
  height: 300px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
  border-radius: 25px;
  background-size: cover;
  margin-right: 20px;
}
.footer {
  height: 300px;
  background-color: red;
  background-size: cover;
}
.footer .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .overlay .rotate-button {
  width: 50px;
  height: 50px;
  background-size: cover;
  background: #a10000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: translate(690px,70px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer .overlay .rotate-button i{
  font-size: 10px;
}
.footer .overlay .footer-container {
  width: 1400px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer .overlay .footer-container .footer-links {
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  margin-top: 100px;
}
.footer .overlay .footer-container .footer-links span {
  margin-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
